# Ignore node_modules in both frontend and backend

backend/node_modules/
frontend/node_modules/

# Environment variables

**/.env

# Logs

*.log
npm-debug.log*

# Mac system files
.DS_Store

# VSCode
.vscode/